/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content  {
  text-align: center;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  color: rgba(90,90,90,1)
}

h2 a {
  text-decoration: none;
  color: #23527C;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #eae8e8;
  height: 50px;
}

.nav-bar-content {
  margin: auto;
}

#logo {
  padding-left: 20px;
}

#logo a {
  text-decoration: none;
  color: black;
}

#new-article {
  padding-right: 20px;
}

#new-article a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  margin: 0px auto;
  text-align: center;
  width: 800px;

}

/*Create new article*/

